<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
<title>tbewn.</title>
<link rel="stylesheet" href="<% request.uri_base %>/css/main.css" />

<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">/* <![CDATA[ */
    !window.jQuery && document.write('<script type="text/javascript" src="<% request.uri_base %>/javascripts/jquery.js"><\/script>')
/* ]]> */</script>

</head>
<body>
    <div id="header">
        <h1 id="tbewn">[<a href="/" title="back to the main page">tbewn</a>]</h1>
        
<div id="headerparts">
        <a href="" title="About tbewn.">?</a> | <a href="/search?q=%23faq" title="Frequently asked questions">FAQ</a> | <a href="/search?q=%23tbewn-todo" title="tbewn is work in progress">TODO</a> | <span class="slogan">Serving since 2012-05-16</span>
    </div>

<div id="headerright">
        


<form action="/search" method="GET">
<input type="search" name="q" size="20" placeholder="Search for ..." autofocus="autofocus" />
<input type="submit" value="search" />
</form>

</div>

    </div>
    <div class="clear" />

<% content %>
<div id="footer">
    <hr />
<% USE FormatDauer %>
Powered by <a href="http://perldancer.org/">Dancer</a> <% dancer_version %><% IF dauer %> | Served <% anzahl %> entries in <% dauer | $FormatDauer %> seconds<% END %> | <a href="/add">add a new entry</a> | This is <a href="<% vars.website %>"><% vars.appname %></a> (revision: <a href="<% vars.website %>/commit/<% vars.commitid %>"><% vars.revision %></a>)
</div>
</body>
</html>
