<form method="POST">
<input type="radio" name="author" value="oli" checked="checked">Oli<br>
<input type="radio" name="format" value="plain">Plain text<br>
<input type="radio" name="format" value="markdown" checked="checked">Markdown<br>
<input name="title" size="80"/><br />
<textarea name="text" rows="20" cols="80">
</textarea><br />
<input type="submit" value="Post" />
</form>
