<h1><% data.title %></h1>

<% USE FormatMarkdown %>

<% IF data.format == 'markdown' %>
<p><% data.text | $FormatMarkdown %></p>
<% ELSE %>
<p><% data.text %></p>
<% END %>

<a href="/-<% id %>/edit">bearbeiten</a>
