div#header {
    margin-top: 0em;
    width: 100%;
}

div#header h1#tbewn {
    margin-top: 0em;
    float: left;
    margin-right: 10px;
}

div#headerparts {
    padding-top: 15px;
    vertical-align: bottom;
    float: left;
}

div#headerright {
    padding-top: 15px;
    float: right;
    text-align: left;
}

span.slogan {
    font-style: italic;
}

div.item {
    border-top: 1px solid gray;
    margin-top: .2em;
}

div.item span.timestamp {
    width: 1em;
}

span.title {
    font-style: italic;
}

div.item p {
    float: left;
}

div.clear {
    clear: both;
}